Source: kmplayer-desktop
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: misc
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,

Package: kmplayer-desktop
Architecture: all
Section: misc
Priority: optional
Depends: ${misc:Depends},
Enhances: kmplayers,
Description: Modified kmplayer desktop entry
 This package fixes kmplayer playback issue
 when file is opened via file association.
